<!DOCTYPE html> {% include 'header.html' %} {% include "nav.html" %}
<html>
<style>
    img {

        height: 200;
        margin: 5px 5px;
        object-fit: cover;
    }
    /* .cover {
    width: 200;
    /* object-fit: cover; */
    /* object-fit: scale-down;
  } */

    */ .container-layout {
        background: #FAFAFA;
        /* padding-top: 50px; */
        position: absolute;
        /* align-self: center; */
        width: 100%;
        height: 100%
    }
</style>

<body>

    <div class="d-flex p-2 container-layout ">
        <div class="align-self-center">

            <div class="row">

                {% for d in object_list %}
                <div class="col-xs-4">
                    <a href="{% url 'illustrations_detail' d.pk %}">
            
    <img src="/{{d.profile_pic}}" class="object-fit_contain" object-fit="cover" background-size="contain" alt="" width="300" height="300">

</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>