{% include 'header.html' %} {% include "nav.html" %}

<style>
    .container-detail {
        padding-top: 50px;
        /* position: absolute; */
        width: 100%;
        height: 100%
    }

    img {
        object-fit: scale-down;
        width: 100%;
        height: 60%;
        padding: 10px;
       
    }

    .content {
        width: 700;
        /* height: 700; */
        /* object-fit: scale-down; */
        margin: 0 auto;
        padding-bottom: 100px;
    }
</style>


<html>
<section class="container-detail">
    <div class="content">

        <h2 style="size: 12em" align="center" class="display-6">{{post.title}}</h2>
        <hr>
                 {% for a in post.photos.all  %}
                <img src="/{{a.profile_pic}}" > 
                {% endfor %}
                <p style="padding : 10px">
                {{post.content}} </p>
            </div>


        </div>
</section>

</html>